<!DOCTYPE html>
<html lang="en">
<head>
    <title>Easton House Lights</title>
    <!-- inject:maincss -->
    <!-- endinject -->
    <!-- inject:node_modules/tether/dist/css/tether.min.css -->
    <!-- endinject -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>
<body>
    
        <div class="container p-3">

            <% for(var i=0; i < config.zones.length; i++) { %>

            <div class="d-flex flex-row justify-content-between">
                <div class="p-2">
                    <button id="<%= config.zones[i].name %>-on" type="button" class="btn btn-warning btn-lg opacity-75">On</button>
                    </div>

                    <div class="container p-2">
                        <div  id="<%= config.zones[i].name %>-info" class="alert alert-warning text-center opacity-75"><%= config.zones[i].display %></div>
                    </div>
                <div class="p-2">
                    <button id="<%= config.zones[i].name %>-off" type="button" class="btn btn-info btn-lg opacity-75">Off</button>
                </div>
            </div>

            <% } %>

        </div>

    <!-- inject:node_modules/jquery/dist/jquery.slim.js -->
    <!-- endinject -->
    <!-- inject:node_modules/tether/dist/js/tether.min.js -->
    <!-- endinject -->
    <!-- inject:node_modules/bootstrap/dist/js/bootstrap.min.js -->
    <!-- endinject -->
    <script>

            function click(msg) {
                var r = new XMLHttpRequest();
                r.open("POST", '/', true);
                r.setRequestHeader("Access-Control-Allow-Origin", "true");
                r.setRequestHeader("Content-Type", "application/json");
                r.onreadystatechange = function () {
                    if (r.readyState != 4 || r.status != 200) {
                        console.log(r)
                    };
                };
                r.send(JSON.stringify(msg));
            }

            function notifyOff(buttonElement) {
                buttonElement.classList.remove('alert-warning');
                buttonElement.classList.add('alert-danger');
                var s = function(){
                    buttonElement.classList.add('alert-warning');
                    buttonElement.classList.remove('alert-danger');
                };
                setTimeout(s, 200)
            }

            function notifyOn(buttonElement) {
                buttonElement.classList.remove('alert-warning');
                buttonElement.classList.add('alert-success');
                var s = function(){
                    buttonElement.classList.add('alert-warning');
                    buttonElement.classList.remove('alert-success');
                };
                setTimeout(s, 200)
            }

            <% for(var i=0; i < config.zones.length; i++) { %>

                var <%= config.zones[i].name %>_on_button = document.getElementById('<%= config.zones[i].name %>-on');
                var <%= config.zones[i].name %>_off_button = document.getElementById('<%= config.zones[i].name %>-off');
                var <%= config.zones[i].name %>_info = document.getElementById('<%= config.zones[i].name %>-info');

                <%= config.zones[i].name %>_on_button.addEventListener("click", function( event ) {
                    click({ command : "on", zone : <%= config.zones[i].id %> });
                    notifyOn(<%= config.zones[i].name %>_info);
                }, false);
            
                <%= config.zones[i].name %>_off_button.addEventListener("click", function( event ) {
                    click({ command : 'off', zone : <%= config.zones[i].id %> });
                    notifyOff(<%= config.zones[i].name %>_info);
                }, false);
            
                <%= config.zones[i].name %>_on_button.addEventListener("touchstart", function( event ) {
                    click({ command : 'on', zone : <%= config.zones[i].id %> });
                    notifyOn(<%= config.zones[i].name %>_info);
                }, false);
            
                <%= config.zones[i].name %>_off_button.addEventListener("touchstart", function( event ) {
                    click({ command : 'off', zone : <%= config.zones[i].id %> });
                    notifyOff(<%= config.zones[i].name %>_info);
                }, false);

            <% } %>
        
        
        </script>
</body>
</html>
